body{
    text-align: center;
    color: #333;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: rgb(168, 168, 168);
}
#container{
    width: 70%;
    padding: 0;
    margin: 35px auto;
    text-align: left;
    background: white;
    border-radius: 10px;
}
#container h1{
    font-size: 20px;
}
#cabecera{
    display: flex;
    align-items: center;
    background: #33a;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em; 
}
#cabecera img{
    margin-right: 10px;
    border-radius: 50%;
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#post{
    padding: 1em;
}
footer{
    display: inline-block;
    background:#33a ;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}